<!DOCTYPE html>
<head>
  <meta content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
  <div class="body">
    <h1>Friendly-Neighborhood</h1>
    <h2>Log in</h2>

    <form action="{{ url_for('login') }}" method="POST" class="login_form">
      <fieldset>
        <legend>User</legend>
        <input type="text" name="Email" />
      </fieldset>

      <fieldset>
        <legend>Password</legend>
        <input type="password" name="Password" />
      </fieldset>

      <input type="submit" value="submit" />
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
</body>
